<div class="row">


    <%if(errors.length > 0){%>
    <ul>
    <% errors.forEach(function(error){%>
      <li><%= error%></li>
    <% });%>
    </ul>
    <% }%>

    <form class="form">
      <div class="form-group">
        <textarea class="form-control textToCreateUpdate" rows="4"><%= comment.escape("body") %></textarea>
      </div>
      <button class="btn btn-failure createUpdate">Add</button>
      <button class="btn btn-failure cancelCreateUpdate">Cancel</button>
      <a href="#" class="close close-lg">&times;</a>
    </form>


</div>
