

<div class="row">
  <div class="subheader"><h2>Your Answer</h2></div>        
</div>

<%if(errors.length > 0){%>
  <div class="alert alert-warning alert-dismissible" role="alert">
<% errors.forEach(function(error){%>
  <%= error%>
  <br>
<% });%>
</div>
<% }%>


<div class="row">
  <div class="new-answer">


    <form class="form">

    <div class="form-group">
      <textarea name = "answer[body]" class="form-control" id="answer-body" rows="6"><%= answer.escape("body")%></textarea>
    </div>

    <div class="form-group">
      <input class="form-control" name="answer[question_id]" type="hidden" value=<%= question.escape("id")%>> </input>
    </div>
    <button class="btn btn-success question-answer">Add</button>
    <a href="#" class="close close-lg">&times;</a>
    
    </form>
  </div>
</div>



