<form class="form">
  <h2 class="space">Your Answer</h2>
  <div class="form-group">
    <textarea class="form-control"></textarea>
  </div>
  <div class="form-group">
    <input class="form-control" id="author_id" type="hidden" value=<%= current_user.escape("id")%>> </input>
  </div>
  <div class="form-group">
    <input class="form-control" id="author_name" type="hidden" value=<%= current_user.escape("username")%>> </input>
  </div>

  <div class="form-group">
    <input class="form-control" id="question_id" type="hidden" value=<%= question.escape("id")%>> </input>
  </div>


  <button class="btn btn-success">Add</button>
  <a href="#" class="close close-lg">&times;</a>
</form>

