

<div class="row answers">
  <div class="votecell"></div>
    <div class="post-text" itemprop="text">  
      <p><%= answer.escape("body") %></p>
    </div>
</div>


<div class="row">
  <div class="answerCommentNewShowEdit"></div>
</div>

<div class="row">
  <div class="newAnswerComment"></div>
</div>