



<div class="row">
  <div id="answer-votecell" class="votecell"></div>
  <div class="post-text" itemprop="text">  
    <p><%= answer.escape("body") %></p>
  </div>
</div>
<div class="row bordered">    
  <div class="author-info">
    <div class="pull-right">
      <div class="question-hyperlink col-xs-1">
        <a href=<%= "#users/" + answer.escape("author_id") %>><%= answer.escape("author_name")%></a>
      </div>
    </div>
  </div>
  <div class="">
    <% if(SOC.currentUser.id === parseInt(answer.escape("author_id"))){%>
      <div class="question-hyperlink answer-edit col-xs-1"><a>Edit</a></div>
      <div class="question-hyperlink answer-destroy col-xs-1"><a>Delete</a></div>
    <% } %>  
  </div>
</div>

<div class="row">
  <div class="answerCommentNewShowEdit"></div>
</div>
<div class="row">

<div class="newAnswerComment"></div>


