



<div class="row">
  <% if(editingAnswer){%>
    <textarea class="form-control answerText" id="user-description" rows="5" style="font-size: 100%;"><%= answer.escape("body")%></textarea>
    <button class="btn btn-success submitAnswer" style="font-size: 100%; margin-top: 20px;">Submit</button>    
  <% } %>    
  <% if(!editingAnswer){%>
    <div id="answer-votecell" class="votecell"></div>
    <div class="post-text" itemprop="text">    
      <p><%=answer.escape("body")%><p>  
    </div>
  <% } %>      
</div>
<% if(!editingAnswer) { %>
<div class="row" style='padding-top: 10px; padding-bottom: 40px;'>
  <div class="author-info">
    <div class="pull-right">
      <div class="object-hyperlink col-xs-1">
        <a href=<%= "#users/" + answer.escape("author_id") %>><%= answer.escape("author_name")%></a>
      </div>
    </div>
  </div>
  <div class="col-xs-1"></div>
  <% if(SOC.currentUser.id === parseInt(answer.escape("author_id"))){%>
    <div class="col-xs-3">
      <button class="btn btn-primary edit" style="display: table-cell;">Edit</button>
      <button class="btn btn-danger destroy" style="display: table-cell;">Delete</button>
    </div>      
  <% } %>  
  </div>
</div>
<% } %>
