



<div class="row">
  <% if(editingAnswer){%>
    <textarea class="form-control answerText" id="user-description" rows="5" style="font-size: 100%;"><%= answer.escape("body")%></textarea>
    <button class="btn btn-success submitAnswer" style="font-size: 100%; margin-top: 20px;">Submit</button>    
  <% } %>    
  <% if(!editingAnswer){%>
    <div id="answer-votecell" class="votecell"></div>
    
    <p><%=answer.escape("body")%><p>  
  <% } %>      
</div>
<% if(!editingAnswer) { %>
<div class="row" style='padding-top: 10px; padding-bottom: 40px;'>
  <div class="author-info">
    <div class="pull-right">
      <div class="object-hyperlink col-xs-1">
        <a href=<%= "#users/" + answer.escape("author_id") %>><%= answer.escape("author_name")%></a>
      </div>
    </div>
  </div>
  <div class="">
    <% if(SOC.currentUser.id === parseInt(answer.escape("author_id"))){%>
      <div class="object-hyperlink edit col-xs-1"><a>Edit</a></div>
      <div class="object-hyperlink destroy col-xs-1"><a>Delete</a></div>
    <% } %>  
  </div>
</div>
<% } %>



<div class="row">
  <div class="answerCommentNewShowEdit"></div>
</div>

<div class="row">
  <div class="newAnswerComment"></div>
</div>
