<div class="answer">
<div id="answer-votecell" class="votecell"></div>
<p><%= answer.escape("body") %></p>
<p><b>Author: <%= answer.escape("author_name") %> </b></p>
</div>

<% if(SOC.currentUser.id === parseInt(answer.escape("author_id"))){%>
<button type="button" class="btn btn-danger answer-destroy">Delete</button>
<button type="button" class="btn btn-primary answer-edit">Edit</button>
<% } %>


<div class="comments-header container">
<b>Comments:</b>
</div>
<div class="comment-new-show-edit"></div>
<div class="comment-form-link"></div>      
</div>


