<div class="answer">
    <div class="votecell"><div class="vote upvote">Up</div><div class="votefiller"></div><div class="vote downvote">Down</div></div>
<p><%= answer.escape("body") %></p>
<p><b>Author: <%= answer.escape("author_name") %> </b></p>
</div>

<div class="comments-header container">
<b>Comments:</b>
</div>
<div 
  id="answer-comments" class="comments container">
</div>
<div 
  id="answer-commment-form" class="comment-form">
</div>


