<div class="vote upvote" style="font-size: 18px;"><p>Up</p></div>
<div class="votefiller"></div>
<div class="vote" style="font-size: 18px;"><p><%= score %></p></div>
<div class="votefiller"></div>
<div class="vote downvote" style="font-size: 18px;"><p>Down</p></div>
 