


<div class="row">
  <div class="new-answer">


    <form class="form">

    <div class="form-group">
      <textarea name = "answer[body]" class="form-control" id="user-description" rows="6"><%= user.escape("description")%></textarea>
    </div>
    <button class="btn btn-success question-answer descriptionSubmit">Submit</button>    
    </form>
  </div>
</div>



