<div id="content">
  <div id="mainbar">
    <div class="subheader index">
      <h1>Users</h1>
    </div>
    <div class="container" id="question-mini-list">
      <table class="table table-striped"><tbody><div id="users"></div></tbody></table>
      <div class="pager fl"></div>        
    </div>      
  </div>
</div>
