<h1>Name: <%= user.escape("username")%></h1>

  
  <div class="subheader">

  <div class="description">
  <p><%= user.escape("description")%><p>

    </div>

  <div class="questions">
    <h1>Questions</h1>
  </div>


    <div class="container" id="question-mini-list">
      <div class="row">
        <div id="questions"></div>
    </div>
    <div class="pager fl"></div>        

    </div>
</div>
