

<tr>
  <td>
    <div class="votes ">
      <div>
        Karma
      </div>
      <div class="mini-counts"><span><%=user.escape("karma")%></span></div>
    </div>
  </td>  
  <td class="question-hyperlink">
    <a href=<%= "#users/" + user.escape("id") %>><%= user.escape("username")%></a>
  </td>
</tr>







