


<div class= "container">
  <div class="mainbar col-xs-12">
  <p class="user-header"><b><%= user.escape("username")%></p></b>
  <div class="row">
    <div class="col-xs-6">Karma: <%= user.escape("karma")%></div>
    <div class="col-xs-6"></div>
    <div style="background-color: rgb(200,200,200); display: table-cell;">
      <p><%=user.escape("description")%><p>
      <% if(SOC.currentUser.id === parseInt(user.escape("id"))){%>
        <div class="descriptionEdit col-xs-1"><a style="color: rgb(0, 0, 200);">Edit</a></div>
        <div class="descriptionDelete col-xs-1"><a style="color: rgb(200, 0, 0);">Delete</a></div>
      <% } %>  
    </div>    

  </div>
  
      <div class="row">

        <ul class="nav my-nav-pills col-xs-12">
  
          <li><a id="questions-authored">Questions Authored</a></li>
          <li><a id="questions-upvoted">Questions Upvoted</a></li>
        </ul>

    </div>
  </div>
</div>
<div id="user-show-content"></div>
