<h1>Name: <%= user.escape("username")%></h1>


<ul class="nav nav-pills">
  <li><a id="description">Description</a></li>
  <li><a id="questions-authored">Questions Authored</a></li>
  <li><a id="questions-upvoted">Questions Upvoted</a></li>
</ul>

  
<div id="user-show-content"></div>