

<div class="container" style="padding-left: 0px;">
  <div class="col-xs-10 bordered" style="padding-bottom: 50px; margin-bottom: 50px;">
    <div class="row" style="margin-bottom: 50px;">
      <div class="col-xs-4 index" style="font-weight: 500; font-size:30px; ">
        <%= user.escape("username")%>
      </div>
    </div>
    <div class="row container">
      <div class="col-xs-3" style="font-size:150%">
        <p style="text-align: center;"><b>Karma:</b> <%= user.escape("karma")%></p>
        <div class="gravatar"></div>
      </div>
      <div class="col-xs-9" style="font-size:150%">
        <p><b>Description</b></p>
        <% if(editingDescription){%>
          <textarea class="form-control" id="user-description" rows="5" style="font-size: 100%;"><%= user.escape("description")%></textarea>
          <button class="btn btn-success descriptionSubmit" style="font-size: 100%; margin-top: 20px;">Submit</button>    
        <% } %>  
        <% if(!editingDescription){%>
          <div style="background-color: khaki;">
            <p><%=user.escape("description")%><p>      
          </div>
          <% if(SOC.currentUser.id === parseInt(user.escape("id"))){%>
            <div class="descriptionEdit"><a style="color: rgb(0, 0, 200); float: right; padding-top: 20px;">Edit</a></div>
          <% } %>  
        <% } %>  
      </div>
    </div>
  </div>
  <div class="container" id="main2">
    <ul class="nav my-nav-pills">
      <li style="float:left;"><a id="questions-authored">Questions Authored</a></li>    
      <li style="float:left;"><a id="questions-upvoted" style="">Questions Upvoted</a></li>
      <li style="float:left;"><a id="favorite-tags" style="">Favorite Tags</a></li>

    </ul>
  </div>

  <br>
  <br>      
  <div id="user-show-content"></div>
</div>