

<form class="form">
  <div class="form-group">
    <textarea class="form-control <%= comment.escape('commentable_type').toLowerCase() %>TextToCreateUpdateComment" rows="4"><%= comment.escape("body") %></textarea>
  </div>
  <button class="btn btn-failure <%= comment.escape('commentable_type').toLowerCase() %>CreateUpdateComment"
   >Add</button>
  <a href="#" class="close close-lg">&times;</a>
</form>

