<form class="form">
  <div class="form-group">
    <textarea class="form-control" rows="4"></textarea>
  </div>
  <button class="btn btn-failure">Add</button>
  <a href="#" class="close close-lg">&times;</a>
</form>

