<div class="row comments">
  <div class="votecell"></div>
    <div class="post-text" itemprop="text">  
      <p><%= comment.escape("body") %></p>
    </div>
</div>

<div class="row comments2">    
  <div class="author-info">
    <div class="pull-right">
      <div class="question-hyperlink col-xs-1">
        <a href=<%= "#users/" + comment.escape("author_id") %>><%= comment.escape("author_name")%></a>
      </div>
    </div>
  </div>
  <div class="">
    <% if(SOC.currentUser.id === parseInt(comment.escape("author_id"))){%>
      <div class="object-hyperlink commentEdit col-xs-1"><a>Edit</a></div>
      <div class="object-hyperlink commentDestroy col-xs-1"><a>Delete</a></div>
    <% } %>  
  </div>
</div>


