




<div id="content">
  <div id="mainbar">
    <div class="container" style="padding-left: 0px;">
      <div class="col-xs-10">
        <div class="row" style="margin-bottom: 50px;">
          <div class="col-xs-4 index" style="font-weight: 500; font-size:30px; ">
            <% if(typeOfIndex==="questionsIndex") {%>
              All Questions
            <% } %>
            <% if(typeOfIndex==="upvotedQuestions") {%>
              Upvoted Questions
            <% } %>      
            <% if(typeOfIndex==="authoredQuestions") {%>
              Authored Questions
            <% } %>      
            <% if(typeOfIndex==="usersIndex") {%>
              Users
            <% } %>
          </div>
        </div>
        <div class="row">
          <% if(typeOfIndex==="questionsIndex") {%>          
            <div class="col-xs-3" style="font-size: 18px; vertical-align: middle; margin-top: auto; margin-bottom: auto;">
              <b>Search Questions:</b>
            </div>
            <div class="search-box" style="font-size: 18px; margin-bottom: 20px;">
              <input class="typeahead" type="text"  style="width: 300px;"></input>
            </div>
          <% } %>                          
        </div>
      </div>

      <div class="container" id="question-mini-list" style="padding-left: 0px;">
        <div class="noResults"></div>      
        <div class="col-xs-10">

          <div id="models"></div>
        </div>
      </div>
    <div class="pager fl"></div>
  </div>
</div>

