




<div id="content">
  <div id="mainbar">
    <div class="subheader index">
      <% if(typeOfIndex==="questionsIndex") {%>
        <h1>All Questions</h1>
      <% } %>
      <% if(typeOfIndex==="upvotedQuestions") {%>
        <h1>Upvoted Questions</h1>
      <% } %>      
      <% if(typeOfIndex==="authoredQuestions") {%>
        <h1>Authored Questions</h1>
      <% } %>      
      <% if(typeOfIndex==="usersIndex") {%>
        <h1>Users</h1>
      <% } %>
    </div>
    <div class="container" id="question-mini-list" style="padding-left: 0px;">
      <div class="col-xs-10 table-striped"><div id="models"></div></div>
    </div>
    <div class="pager fl"></div>
  </div>
</div>



