<div class="container" id="main2">
        <ul class="nav my-nav-pills">
          <li style="float:left;"><a id="nav-askquestion" href="/#">Questions</a></li>    

          <li style="float:left;"><a id="nav-askquestion" href="/#users" style="">Users</a></li>
        </ul>
</div>

<br>
<br>      


<div class="backdrop">
  <div id="main" class="container" >
  </div>
</div>

<div id="current-user-id" data-current-user-id="<%= current_user.id if current_user%>"></div>

<script>
$(document).ready(function(){
  SOC.initialize();
});  
</script>