

<div class="backdrop">
  <div id="main" class="container">
  </div>
</div>

<div id="signed_in" data-signed-in="<% if current_user %>true<%else%>false<%end%>"></div>

<script>
$(document).ready(function(){
  SOC.initialize();
});  
</script>