

<div class="backdrop">
  <div id="main" class="container">
  </div>
</div>

<div id="signed_in?" data-signed-in="<%= 'true' if current_user %>"></div>

<script>
$(document).ready(function(){
  SOC.initialize();
});  
</script>