<div id="content">
  <div id="mainbar">
    <div class="subheader index">
      <% if(typeOfIndex==="All") {%>
        <h1>All Questions</h1>
      <% } %>
      <% if(typeOfIndex==="User upvoted") {%>
        <h1>Upvoted Questions</h1>
      <% } %>      
      <% if(typeOfIndex==="User authored") {%>
        <h1>Authored Questions</h1>
      <% } %>      
    </div>
    <div class="container" id="question-mini-list">
      <table class="table table-striped"><tbody><div  id="questions"></div></tbody></table>
      <div class="row bordered" style="width: 735px"></div>
      <div class="pager fl"></div>        
    </div>      
  </div>
</div>


