<div id="content">
  <div id="mainbar">

    <input type="text" class="search-bar hidden-submit" type="submit"></input>
    <button class="btn search">Search</button>
      <div class="subheader">
        <h1>Questions</h1>
      </div>
      <div class="container" id="question-mini-list">
        <table class="table" id="questions"></table>
        <div class="pager fl"></div>        
      </div>      
    </div>
</div>


