
<%if(errors.length > 0){%>
  <div class="alert alert-warning alert-dismissible" role="alert">
<% errors.forEach(function(error){%>
  <%= error%>
  <br>
<% });%>
</div>
<% }%>

<form class="form" style="font-size: 18px;">
  <h2 class="space">Your Question</h2>

  <div class="form-group" style="font-size: 18px;">Title
    <input class="form-control" id="new-title" name="question[title]" style="font-size: 18px;" type="text" value=<%=question.escape("title")%> ></input>
  </div>

  <div class="form-group" style="font-size: 18px;">Body
    <textarea class="form-control" name="question[body]" rows="6" style="font-size: 18px;" value=<%= question.escape("body")%> ></textarea>
  </div>
  
  <div class="form-group" style="font-size: 18px;">
    <div>Tags</div><div class="tags"></div>
  </div>
  <div style="margin-bottom: 15px;">
  <div class="search-box pull-left"></div><div class="btn btn-primary tagAdd" style="margin-left: 25px; height: 32px;">Add Tag</div>
  </div>

  <button class="btn btn-success" style="font-size: 18px;">Submit</button>
  <a href="#" class="close close-lg">&times;</a>
</form>

