
<%if(errors.length > 0){%>
  <div class="alert alert-warning alert-dismissible" role="alert">
<% errors.forEach(function(error){%>
  <%= error%>
  <br>
<% });%>
</div>
<% }%>

<form class="form">
  <h2 class="space">Your Question</h2>

  <div class="form-group">Title
    <input class="form-control" id="new-title" name="question[title]" type="text" value=<%=question.escape("title")%> ></input>
  </div>

  <div class="form-group">Body
    <textarea class="form-control" name="question[body]" rows="6" value=<%= question.escape("body")%> ></textarea>
  </div>
  
  <div class="form-group">
    <div>Add Tags</div><div class="tags"></div>
  </div>
  <div class="form-group">
    <div class="search-box"></div>
  </div>

  <button class="btn btn-success">Submit</button>
  <a href="#" class="close close-lg">&times;</a>
</form>

