<div id="question-header">
	<h1 itemprop="name"><%= question.escape("title") %></h1>
</div>




<div class="container">
    <div id="mainbar col-xs-5" class="question">
    <div class="question-row">
    <div id="question-votecell" class="votecell"> </div>
    <div class="post-text" itemprop="text">
      <p><%= question.escape("body") %></p>
    </div>
    </div>
    <div class="author-info pull-right">
      <%= question.escape("author_name") %> 
      <% if(SOC.currentUser.id === parseInt(question.escape("author_id"))){%>
      <button type="button" class="btn btn-danger question-destroy">Delete</button>
    <% } %>
      
      </div>
      <div class="comments">
        <div class="comments-header container">
          <b>Comments:</b>
        </div>
        <div class="questionCommentNewShowEdit"></div>
        <div class="newQuestionComment"></div>
      </div>

      <div id="answers">
        <div id="answers-header">
          <div class="subheader answers-subheader">
          </div>        
        </div>
      </div>
      <div id="answer-form">
    </div>
</div>
