<h1><%= question.escape("title") %></h1>

<p><%= question.escape("body") %></p>

<br>
<br>
<br>
<br>

<h2>Answers</h2>
<div class="container">
  <div class="row">
    <div class="answers">
    </div>
  </div>
</div>
