<div id="question-header">
	<h1 itemprop="name"><%= question.escape("title") %></h1>
</div>




<div class="container">
  <div class="row">
    <div id="mainbar">
      <div class="post-text" itemprop="text">
        <p><%= question.escape("body") %></p>
        <p><b>Author: <%= question.escape("author_name") %> </b></p>
        
      </div>
      <div id="answers">
        <div id="answers-header">
          <div class="subheader answers-subheader">
          </div>        
        </div>
      </div>
      <div id="answer-form">
    </div>
  </div>
</div>
