<div id="question-header">
	<h1 itemprop="name"><%= question.escape("title") %></h1>
</div>




<div class="container">
  <div class="row">
    <div id="mainbar">
    <div class="votecell">
      <div id="upvote" class="vote">Up</div>
      <div class="votefiller"></div>
      <div id="downvote" class="vote">Down</div>
    </div>
      <div class="post-text" itemprop="text">
        <p><%= question.escape("body") %></p>
        <p><i> <%= question.escape("author_name") %> </i></p>
        
      </div>
      <div class="comments-header container">
      <b>Comments:</b>
      </div>
      <div 
        id="question-comments" class="comments container">
      </div>
      <div 
        id="question-commment-form" class="comment-form">
      </div>
      <div id="answers">
        <div id="answers-header">
          <div class="subheader answers-subheader">
          </div>        
        </div>
      </div>
      <div id="answer-form">
    </div>
  </div>
</div>
