


<tr class="question-summary narrow table-striped">
  <td>
    <div class="votes">
    <div>score</div>

      <div class="mini-counts"><span title="1 vote"><%=question.escape("score")%></span></div>
    </div>
  <td class="question-hyperlink"><a href=<%= "#questions/" + question.escape("id") %>><%= question.escape("title")%></a></td>
</tr>