<div class="container">
  <div class="mainbar col-xs-6 question">
    <div class="row">  
      <div id="question-header">
        <h1 itemprop="name"><%= question.escape("title") %></h1>
      </div>
    </div>  
    <div class="questionNewShowEdit"></div>
    <div class="questionCommentNewShowEdit"></div>
    <div class="newQuestionComment"></div>
    <div class="row">
      <div class="subheader answers-subheader"></div>        
    </div>
  </div>

  <div id="answers" class="question col-xs-6"></div>
  <div id="answer-form" class="question col-xs-6"></div>
  
</div>