/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";


.question-summary {
border-bottom: 1px solid #eaeaea;
overflow: hidden;
padding-bottom: 20px;

width: 730px;
float: left;
}

.question-hyperlink {
padding-left: 100px;
font-weight: bold;
font-size: 15px;
vertical-align: middle

}

.question-hyperlink > a{
  position: relative;
vertical-align: middle
}


#question-mini-list {
overflow: auto;
margin-top: 30px;
margin-bottom: 30px;
}


#mainbar, .mainbar {
float: left;
margin-bottom: 40px;
}

#content {
margin: 0 auto;
width: 980px;
min-height: 450px;
}

//.subheader {
//border-bottom: 1px solid #ccc;
//height: 34px;
//clear: both;
//margin-bottom: 15px;
//}

.subheader h1 {
  
border-bottom: 1px solid #ccc;  
font-size: 30px;
line-height: 34px;
padding-bottom: 10px;
}

#header #hmenus {
width: 724px;
float: left;
padding: 34px 0 20px 5px;
margin-top: 10px;
width: 720px;
}

.askquestion {
float: right;
}


.nav > li > p {
position: relative;
display: block;
padding: 10px 15px;
}

.my-nav-pills > li  > p {
  float: left;
  font-size: 24px;
  
}

.my-nav-pills > li  > a{
  float: right;
  font-size: 18px;
  
  
}


.my-nav-pills > li > a {
  border-radius: 4px;
}
/* line 125, /Users/jonahsinick/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/bootstrap-sass-3.2.0.0/assets/stylesheets/bootstrap/_navs.scss */
.my-nav-pills > li + li {
  margin-left: 2px;
}
/* line 133, /Users/jonahsinick/.rbenv/versions/1.9.3-p545/lib/ruby/gems/1.9.1/gems/bootstrap-sass-3.2.0.0/assets/stylesheets/bootstrap/_navs.scss */
.my-nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: white;
  background-color: #428bca;
}

.nav > li > p {
position: relative;
display: block;
padding: 10px 15px;
}




.nav2 {
float: left;
font-size: 125%;
}

.nav2 a {
color: #fff;
display: block;
padding: 6px 12px 6px 12px;
text-decoration: none;
}


#nav-askquestion {
margin-right: 0;
}



.askquestion ul {
list-style: disc;
margin-left: 30px;
margin-bottom: 1em;
}

.askquestion ul li {
margin-right: 0;
}


.nav2 li {
background: #777;
display: block;
float: left;
margin-right: 7px;
}
//
//.fl {
//float: left;
//}

.pager {
margin-top: 20px;
margin-bottom: 20px;
}

.page-numbers.current {
background-color: #808185;
border: 1px solid #808185;
color: #fff;
font-weight: bold;
}

.page-numbers {
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
border: 1px solid #ccc;
color: #808185;
display: block;
float: left;
font-size: 13px;
margin-right: 3px;
padding: 3px 6px 3px 6px;
text-decoration: none;
}

.page-numbers.dots {
border: 1px solid #fff;
}

#question-header {
font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
margin-bottom: 20px;
border-bottom: 1px solid #ccc;
clear: both;
}

#mainbar {
float: left;
margin-bottom: 40px;
width: 735px;
}


#answers {
clear: both;
padding-top: 10px;
}

.newQuestionComment {
  

margin-bottom: 50px;
}



#answers-header {
  
margin-top: 10px;
margin-bottom: 10px;
}

.subheader {
margin-bottom: -10px;;
}

.subheader.index {
margin-bottom: -10px;
border-bottom: 0
}

.answer-subheader h2 {
font-size: 18px;
line-height: 34px;
margin-bottom: 0;
display: table-cell;

}




.answer {
border-bottom: 1px solid #aaa;
width: 100%px;
padding-bottom: 20px;
padding-top: 20px;
font-size: 100%;
}

.question {
width: 80%;
padding-bottom: 20px;
padding-top: 20px;
margin-right: 10%;
margin-bottom: 0px;
font-size: 100%;
}

.subheader {
border-bottom: 1px solid #ccc;
height: 34px;
clear: both;
margin-bottom: 15px;
}

.comments2 {
  width: 80%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 20%;
  margin-right: 20%;

  font-size: 100%;

}

.comments {
  width: 80%;
  padding-top: 20px;
  margin-left: 20%;
  margin-right: 20%;

  font-size: 100%;

}

.new-answer {
  padding-top: 20px;

  font-size: 100%;

}




.author_info{
  display: table-cell;
  border-bottom: 1px solid #aaa;  
}

.bordered{
  border-bottom: 1px solid #aaa;  
}

.down-display-bar{
  
}
.author_info p {
  font-size: 140%;
  background: rgb(192,192,192);
}

.comment{
  
  border-top: 1px solid #aaa;
  margin-left: 25%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.author_name {
  float: right;
}


.vote {
text-align: center;
background: rgb(192,192,192);
}

.vote p {
text-align: center;
display: inline-block;
margin-top: 10%;
margin-bottom: 10%;
}

.up-clicked {
background: rgb(255,255,0);
}


.post-text {
word-wrap: break-word;
width: 70%;
float: center;
font-size: 100%;
margin-bottom: 5px;
margin-right: 5px;
line-height: 1.4em;
display: table-cell;

}


.votecell {
vertical-align: top;
width: 6%; 
margin-right: 3%; 
float: left;
display: table-cell;
}

.filler-for-author-row {
vertical-align: top;
width: 6%; 
margin-right: 3%; 
display: table-cell;
}

.votes {;
float: left;
margin: 0 3px 0 0;
padding: 5px;

text-align: center;

}





.votefiller {
width: 60px;
height: 10px;
}

.mini-counts {
height: 25px;
font-size: 160%;
font-weight: normal;
text-align: center;

}


td, th {
  padding-bottom: 20px;
}



.newAnswerComment {
  padding-top: 20px;
  padding-bottom: 50px;
}

.newAnswerCommentLink{
  
}