<div class="col-xs-3" style="display: table-cell; margin-bottom: 30px;">
<p><a href='#/tags/<%= tag.escape("id")%>'><b><%=tag.escape("name")%></b></a></p>
<p>Followers: <%= tag.escape("number_of_users")%></p>
<p>Questions: <%= tag.escape("number_of_questions")%></p>
</div>