<h1 style="text-align: center;">Tags</h1>

<div class="search-box"></div>

<div class= "container">
  <div class="mainbar col-xs-12" style="font-size: 150%; padding-top: 50px;">
    <div class="row" style="padding-bottom: 50px;">
      <div class="tags"></div>
    </div>
  </div>
</div>


